<div class="mt-2">
  <h4>PHP backend technologies</h4>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="CodeIgniter" name="CodeIgniter" value="1" />
    <label class="form-check-label" for="CodeIgniter">CodeIgniter</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="Laravel" name="Laravel" value="1" />
    <label class="form-check-label" for="Laravel">Laravel</label>
  </div>
</div>