<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{TITLE}}</title>
</head>

<body class="bg-secondary w-100">
    <div class="container-fluid text-center w-75 h-100 mt-5 border rounded bg-light border-dark">
        <div class="p-5">
            <h3 class="py-2">{{TITLE}}</h3>
            <form action="/project1/choose/" method="GET"> <small class="text-muted"> Choose frontend technologies
                </small>
                <div class="m-5">
                    <div class="mt-2">
                        <h4>CSS frontend options: </h4>
                        <div class="form-check form-check-inline"> <input class="form-check-input" type="checkbox"
                                id="Bootstrap" name="Bootstrap" value="1" /> <label class="form-check-label"
                                for="Bootstrap">Bootstrap</label> </div>
                    </div>
                </div>
                <div class="m-5"> <input type="submit" value="Next" class="btn btn-primary mb-2" name="submit" /> <br>
                    <a class="text-muted font-italic small" href="/project1/">(or start over)</a> </div> <input
                    type="hidden" id="form_id" name="form_id" value="frontend_form" />
            </form>
        </div>
    </div>
</body>

</html>