<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Choose what you would like to work on</title>
</head>

<body class="bg-secondary w-100">
    <div class="container-fluid text-center w-75 h-100 mt-5 border rounded bg-light border-dark">
        <div class="p-5">
            <h3 class="py-2">Choose what you would like to work on</h3>
            <form action="/project1/choose/" method="GET" name="form"> <small class="text-muted"> You said that you like
                    the languages: Java-PHP-.<br>Choose what you would like to work on: </small>
                <div class="m-5">
                    <div class="form-check"> <input class="form-check-input" type="checkbox" id="backend" name="backend"
                            value="1" onChange="document.getElementById('backend_button').disabled = !this.checked;" />
                        <label class="form-check-label" for="backend">Backend</label> </div>
                    <div class="form-check"> <input class="form-check-input" type="checkbox" id="frontend"
                            name="frontend" value="1"
                            onChange="document.getElementById('frontend_button').disabled = !this.checked;" /> <label
                            class="form-check-label" for="frontend">Frontend</label> </div>
                </div>
                <div class="m-5"> <input id="backend_button" disabled="true" type="submit" value="Choose Backend"
                        class="btn btn-primary mb-2 mr-2" name="go_backend" /> <input id="frontend_button"
                        disabled="true" type="submit" value="Choose Frontend" class="btn btn-primary mb-2"
                        name="go_frontend" /><br> <a class="text-muted font-italic small" href="/project1/">(or start
                        over)</a> </div> <input type="hidden" id="form_id" name="form_id" value="stack_form" />
            </form>
        </div>
    </div>
</body>

</html>